.header {
  background-color: #333;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-img {
  height: 50px;
  width: auto;
  display: block;

}



/* Botón hamburguesa oculto en escritorio */
.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* Menú normal (pantallas grandes) */
.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header-nav li {
  margin-left: 20px;
}

.header-nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.header-nav a:hover {
  text-decoration: underline;
}

/* Responsive: menú colapsable */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .header-nav {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #333;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .header-nav.open {
    display: flex;
  }

  .header-nav ul {
    flex-direction: column;
    width: 100%;
  }

  .header-nav li {
    margin: 1rem 0;
  }

  .header-nav a {
    font-size: 1.2rem;
  }
}
